body {
  font-family: sans-serif;
  background: linear-gradient(150deg, #000000, cyan);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #ffffff;
  padding: 30px;
  width: 330px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form input {
  padding: 14px 15px;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.btn {
  padding: 14px;
  background: #000;
  color: cyan;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.btn:hover {
  background: #0c28c7;
  color: white;
  transition: all 1s ease;
}

.btn:active {
    background-color: #000;
    color: red;
}